.main-layout {

    display: grid;
    grid-template-columns: 3rem 1fr 3rem;
    grid-template-rows: auto 1fr auto;
    min-height: 70.5vh;

    @include for-narrow-layout {
        grid-template-columns: 0.5rem 1fr 0.5rem;
    }

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }
}